<div class="" style="background-color: #161616; border-radius: 0 0 50px 50px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="my-5 mx-3 py-5 px-5 text-center">
          <%= simple_form_for(@phone) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


            <div class="form-inputs">
              <label for="cellphone" style="color: white; font-weight: 600;">Phone number: </label>
              <div class="mt-5">
                <%= f.input :cellphone,
                                      id: 'cellphone',
                                      type: "text",
                                      label: false,
                                      placeholder: "(DD) 99999-9999",
                                      input_html: { class: "form-control my-form-style my-3" }  %>
              </div>
            </div>


            <div style="backgrounf-color: #161616; height: 50px;"></div>
            <div id="phone-input" class="form-actions" style="text-align: right;">
              <%= button_tag type: 'submit', class: "btn btn-transparent submit" do %>
                <i class="fas fa-chevron-circle-right" style="color: #ed3b5a" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
