<div class="mt-5">
  <div class="container">
    <h1 class="text-center">Flatmatch</h1>
    <div class="row">
      <div class="col">
        <div class="my-5 mx-3 py-5 px-5 text-center">
          <%= simple_form_for(@phone) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <label for="cellphone" class="form-label mb-5 phone-label">Phone number: </label>
              <div class="mt-5">
                <%= f.telephone_field :cellphone, id: 'cellphone', type: "text", placeholder: "(DD) 99999-9999"  %>
              </div>
            </div>
            <div class="form-actions" style="text-align: right;">
              <%= button_tag type: 'submit', class: "btn btn-transparent submit" do %>
                <i class="fas fa-chevron-circle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>