<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="container chatroom"
          data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
        >
            <div class="card-header p-1 mb-3 rounded-pill" style="background-color: #3440eb;">
                <h1 class="align-items-center"><%= @chatroom.name %></h1>
            </div>

              <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                    <div class="messages" data-chatroom-subscription-target="messages">
                      <% @chatroom.messages.each do |message| %>
                        <%= render "messages/message", message: message %>
                      <% end %>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-2">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3"
                        style="width: 40px; height: 100%;">
                      <%= simple_form_for [@chatroom, @message],
                        remote: true,
                        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f|
                      %>
                        <%= f.input :content, label: false, placeholder: "Say Hello", wrapper_html: {class: "flex-grow-1"} %>
                        <%= f.submit "Send", class: "btn-message btn-primary" %>
                      <% end %>
                    </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
