<%= simple_form_for(room) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :roommates,
                label:false,
                placeholder: 'How many people live in the house?',
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :size,
                label:false,
                placeholder: 'In meters square',
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :address,
                label:false,
                placeholder: 'Address',
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :city,
                label:false,
                placeholder: 'City',
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :start_date, as: :date, html5: true,
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :end_date, as: :date, html5: true,
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :pets,
                collection: Room::PETSPER,
                as: :radio_buttons,
                input_html: { style: "margin-left: -0.9em; margin-right: 0.5em" } %><br>
    <%= f.input :smoking,
                collection: Room::SMOKEPER,
                as: :radio_buttons,
                input_html: { style: "margin-left: -0.9em; margin-right: 0.5em" } %><br>
    <%= f.input :visitors,
                collection: Room::VISITPER,
                as: :radio_buttons,
                input_html: { style: "margin-left: -0.9em; margin-right: 0.5em" } %><br>
    <%= f.input :description,
                placeholder: 'Tell the comunity a bit about the co living in the house.',
                input_html: {
                  rows: 5,
                  class: "my-form-style px-4 py-4" } %>
    <%= f.input :floor,
                placeholder: 'Which floor?',
                label:false,
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :price,
                placeholder: 'Price',
                label:false,
                input_html: { class: "my-form-style my-3" } %>
    <%= f.input :utilities,
                collection: Room::UTILIPER,
                as: :radio_buttons,
                input_html: { style: "margin-left: -0.9em; margin-right: 0.5em" }  %>
    <br>
    <label class="btn btn-secondary my-form-style upload-button">
      Upload pictures
      <span style="display:none;">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </span>
    </label>
  </div>
  <div class="form-actions mt-3" style="padding-bottom: 30px">
    <%= f.button :submit, class: 'btn btn-face' %>
  </div>
</div>
<% end  %>
