<% rooms.each do |room| %>
  <% if room.user.id != current_user.id %>
    <div class="card-trip" id="resize-cards-<%= room.id %>">
      <div id=<%= "carouselExampleIndicators#{room.id}" %> class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if room.photos.attached? %>
            <% room.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                <%= cl_image_tag photo.key, class: "d-block w-100", height: 200, width: 400, crop: :fill %>
              </div>
            <% end %>
          <% else %>
            <div class="carousel-item active">
              <%= image_tag 'no-image-found.png', height: 200, width: 400, crop: :fill %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleIndicators#{room.id}" %> data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleIndicators#{room.id}" %> data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-trip-infos">
        <div>
          <h2><%= room.address  %></h2>
          <p> <strong> <%= room.city %> </strong> </p>
          <p> <strong> <%= room.start_date %> </strong> </p>



          <span>
            <%= link_to "Show more", room_url(room) %>


            <% if room.likes && room.likes.where(user: current_user).length > 0 %>
              <%= link_to room_like_path(room.id, room.likes.where(user: current_user).first.id), method: :delete, class: 'card-heart', remote: true do %>
                <i class="fas fa-heart liked ms-1"></i>
              <% end %>
            <% else %>
              <%= link_to room_likes_path(room.id), method: :post, class: 'card-heart', remote: true do %>
                <i class="fas fa-heart disliked ms-1"></i>
              <% end %>
            <% end %>
          </span>





        </div>
        <div>
          <% if (room.user.answers && room.user.answers.length > 0) && (current_user.answers && current_user.answers.length > 0) %>
            <% result = 0 %>
            <% room.user.answers.each_with_index do |answer, index| %>
              <% current_score = current_user.answers[index].score %>
              <% answer_score = answer.score %>
              <% difference = (current_score - answer_score).abs %>
              <% result += difference %>
            <% end %>
            <span class="badge rounded-pill compatibility", style="background-color: #ed3b5a"><%= 100 - result %>%</span>
          <% end %>
          <h2 class="card-trip-pricing">R$<%= sprintf("%.2f", room.price) %></h2>
          <% if room.user.avatar.attached? %>
            <%= cl_image_tag room.user.avatar.key, class: "card-trip-user avatar", alt: "avatar" %>
          <% elsif room.user.uid %>
            <%= image_tag room.user.facebook_picture_url, class: "card-trip-user avatar", alt: "avatar" %>
          <% else %>
            <%= image_tag "avatar.webp", class: "card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
