<div class="mt-5">
  <div class="container">
    <div class="row" data-controller="questions" >
      <div class="my-3"></div>
      <% @questions.each_with_index do |question, index| %>
        <div id="question-<%= index %>" class=" <%= "d-none" unless index.zero? %> col py-3">
          <div class="card-container  mx-3 py-3 px-3">

            <div class="bg-white question py-4 px-4 mb-1" style="height: 26vh">
              <p style="font-size: 25px;"><strong><%= question.question_description %></strong></p>
              <p style="font-size: 16px; margin-top: -10px"><%= question.answer_description.partition('10').first %></p>
              <p style="font-size: 16px; margin-top: -10px">10 <%= question.answer_description.partition('10 ').last %></p>
            </div>

            <%= simple_form_for @answer, html: { data: { remote: true, questions_target: "form" } } do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class="form-inputs">
              <div class="my-5"></div>
                <%= f.range_field :score, :in => 0..10, :step => 1, class: 'w-100 form-range', id: 'customRange' %>
                <%= f.input :question_id, as: :hidden, type: :range, input_html: { value: question.id } %>
              </div>
              <div class="d-flex justify-content-between">
                <div>
                <p style="font-weight: 800">0</p>
                </div>
                <div>
                <p style="font-weight: 800">10</p>
                </div>
              </div>

              <div class="form-actions" style="text-align: right;" data-controller="disable-button">
                <%= button_tag type: 'submit', class: "btn btn-outline-light", data: { action: "click->questions#next disable-button#disable", question: index } do %>
                  <i class="fas fa-chevron-circle-right" style="color: #ed3b5a" id="question-button" aria-hidden="true"></i>
                <% end %>
              </div>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
