<div class="container my_rooms">
  <div class="rooms-title">
    <h2 class="my-5 ml-2">My Rooms</h2>
    <div class="create-room">
      <%= link_to "Offer a Room", new_room_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <% if current_user.rooms && current_user.rooms.length > 0 %>
    <% current_user.rooms.each do |room| %>
      <div class="mt-3">
        <div id=<%= "carouselExampleIndicators#{room.id}" %> class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{room.id}" %> data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{room.id}" %> data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{room.id}" %> data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% if room.photos.attached? %>
            <% room.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                <%= cl_image_tag photo.key, class: "d-block w-100", height: 250, width: 400, crop: :fill %>
              </div>
            <% end %>
          <% else %>
            <div class="carousel-item active">
              <%= image_tag 'no-image-found.png', class: "d-block w-100", height: 250, width: 400, crop: :fill %>
            </div>
          <% end %>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="<%= "#carouselExampleIndicators#{room.id}" %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="<%= "#carouselExampleIndicators#{room.id}" %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="show-body mb-5">
        <div class="my-container">
          <div class="row mt-5">
            <p><strong>Location:</strong> <%= room.address %></p>
            <p><strong>Price: </strong>R$<%= sprintf("%.2f", room.price) %></p>
            <p><strong>Description: </strong><%= room.description %></p>
            <%# <%= link_to "Rented", my_rooms_path, %>
                <%# method: :delete, %>
                <%# data: { confirm: "Room is rented?" } %>
            <%# %>
            <% if room.likes %>
              <p><strong>Likes: </strong></p>
              <% room.likes.each do |like| %>
                <div class="d-flex justify-content-between">
                  <div>
                    <p>
                      <% if like.user.facebook_picture_url %>
                        <%= image_tag like.user.facebook_picture_url, class: "avatar-small dropdown-toggle" %>
                        <%= link_to user_profile_path(like.user.id, like.id) do %>
                          <%= like.user.first_name %>
                        <% end %>
                      <% elsif like.user.avatar.attached? %>
                        <%= cl_image_tag like.user.avatar.key, class: "avatar-small dropdown-toggle" %>
                        <%= link_to user_profile_path(like.user.id, like.id) do %>
                          <%= like.user.name %>
                        <% end %>
                      <% else %>
                        <%= image_tag "avatar.webp", class: "avatar-small dropdown-toggle"%>
                        <%= link_to user_profile_path(like.user.id, like.id) do %>
                          <%= like.user.name %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                  <div class="me-2">
                    <i class="fas fa-heart liked ms-1"></i>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No Rooms registered yet.</p>
  <% end %>
</div>
<div class="liked-rooms">
  <h2 class="my-5 ml-2">Liked rooms</h2>
  <% if current_user.likes && current_user.likes.length > 0 %>
    <% current_user.likes.each do |like| %>
      <div class="mt-3">
        <div id=<%= "carouselExampleIndicators#{like.room.id}" %> class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{like.room.id}" %> data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{like.room.id}" %> data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target=<%= "#carouselExampleIndicators#{like.room.id}" %> data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% if like.room.photos.attached? %>
              <% like.room.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                  <%= cl_image_tag photo.key, class: "d-block w-100", height: 250, width: 400, crop: :fill %>
                </div>
              <% end %>
            <% else %>
              <div class="carousel-item active">
                <%= image_tag 'no-image-found.png', class: "d-block w-100", height: 250, width: 400, crop: :fill %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="<%= "#carouselExampleIndicators#{like.room.id}" %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="<%= "#carouselExampleIndicators#{like.room.id}" %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <%= link_to room_like_path(like.room.id, like.room.likes.where(user: current_user).first.id), method: :delete, class: 'card-heart-my-rooms' do %>
            <i class="fas fa-heart liked ms-1"></i>
          <% end %>
        </div>
      </div>

      <div class="show-body mb-5">
        <div class="my-container">
          <div class="row mt-5">
            <p><strong>Location:</strong> <%= like.room.address %></p>
            <p><strong>Price: </strong>R$<%= sprintf("%.2f", like.room.price) %></p>
            <p><strong>Description: </strong><%= like.room.description %></p>
            <div> 
              <p>
                <% if like.room.user.facebook_picture_url %>
                  <%= image_tag like.room.user.facebook_picture_url, class: "avatar dropdown-toggle" %>
                  <%= like.room.user.first_name %>
                <% elsif like.room.user.avatar.attached? %>
                  <%= cl_image_tag like.room.user.avatar.key, class: "avatar dropdown-toggle" %>
                  <%= like.room.user.name %>
                <% else %>
                  <%= image_tag "avatar.webp", class: "avatar dropdown-toggle"%>
                  <%= like.room.user.name %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No Likes registered yet.</p>
  <% end %>
</div>

