<div class="search-bar d-flex justify-content-center mt-2">
  <div class="form-search">
    <%= form_tag "/rooms#map", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control my-search",
      placeholder: "Which city do you need a room?"
    %>
  </div>

  <div class="search-button">
    <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
    <% end %>
  </div>
</div>


<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show on Map
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show on Map
  </button>
</p>
<div class="collapse" id="collapseExample">


  <div class="card card-body">
    <div class="d-flex justify-content-center mt-2">
      <div id="map" style="height: 70vh; width: 90%" data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>



</div>















<div class="container text-center ">
  <div class="row justify-content-center mb-4">
    <div class="rooms">
      <h3 class="pb-3"><strong>Rooms</strong></h3>
      <h4><%= link_to 'Offer Room', new_room_path, class: "btn btn-face py-2 btn-block", style: "width: 100%" %></h4>
    </div>
  </div>
</div>
<%= render "shared/room_cards", rooms: @rooms %>
