


         <div class="container px-5 mt-4 d-flex justify-content-between" style="width: 100%">

            <div class=" align-self-center">
              <span class="badge rounded-pill compatibility-show" style="background-color: #ed3b5a;"><%= @room.compatibility %>%</span>
            </div>

            <div>
              <% if @room.likes && @room.likes.where(user: current_user).length > 0 %>
                <%= link_to room_like_path(@room.id, @room.likes.where(user: current_user).first.id), method: :delete, class: 'card-heart-show' do %>
                  <i class="fas fa-heart liked ms-1"></i>
                <% end %>
              <% else %>
                <%= link_to room_likes_path(@room.id), method: :post, class: 'card-heart-show' do %>
                  <i class="fas fa-heart disliked ms-1"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
<div class="container px-4 py-3">
  <div class="mt-±1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% if @room.photos.attached? %>
          <% @room.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index.zero? ? "active" : "" %>">
              <%= cl_image_tag photo.key, class: "d-block w-100", height: 250, width: 400, crop: :fill %>
            </div>
          <% end %>
        <% else %>
          <div class="carousel-item active">
            <%= image_tag 'no-image-found.png', height: 300, width: 400, crop: :fill %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="show-body mb-5 py-2">
      <div class="my-container">
        <div class="container row mt-3">
         <div class="row">


          <div class="mb-3"></div>
            <p style="font-size: 16px;"><strong><%= @room.address %></strong> </p>
            <p><strong>R$<%= sprintf("%.2f", @room.price) %></strong></p>
            <p><strong>size: </strong><%= @room.size %> m²</p>
            <p style="margin-top: 2px;"><%= @room.description %></p>

<table class="table  table-sm table-borderless">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fas fa-paw" style="font-size:21px"></i></th>
      <td>pets <%= @room.pets %></td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-smoking" style="font-size:21px"></th>
      <td>smoking <%= @room.smoking %> </td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-users" style="font-size:21px"></th>
      <td> visitors <%= @room.visitors %> </td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-file-invoice-dollar" style="font-size:21px"></i></th>
      <td> bills <%= @room.utilities %> </td>
    </tr>
  </tbody>
</table>








                    <div style="margin-top: -18px">

                    </div>

        </div>
      </div>
    </div>
    <div>
      <h4><%= link_to "Back", rooms_path, class: "btn btn-face" %></h4>
    </div>
  </div>
</div>
